<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SnapWorkout">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name="com.example.SnapWorkout.WorkOutApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapWorkout">
        <activity
            android:name="com.example.SnapWorkout.activities.HistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1SnapWorkout"
            />
        <activity
            android:name="com.example.SnapWorkout.activities.BMIActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1SnapWorkout" />
        <activity
            android:name="com.example.SnapWorkout.activities.FinishActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1SnapWorkout" />
        <activity
            android:name="com.example.SnapWorkout.activities.ExerciseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1SnapWorkout" />
        <activity
            android:name="com.example.SnapWorkout.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1SnapWorkout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>